.tags-box>.label {
    /* display: flex; */
    /* flex-direction: row; */
    margin-bottom: 10px;
    margin-right: 10px;
}

.tags-box {
    text-align: start;
    /* margin-top: 30px; */
}

.tags-box>.ui.grey.label,
.tags-box>.ui.grey.labels .label {
    font-weight: 500;
    color: var(--header-color) !important;
    background-color: var(--box-color) !important;
    /* border: 1px dashed var(--header-color); */
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    -webkit-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    -ms-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.tags-box>.ui.grey.label:hover,
.tags-box>.ui.grey.labels .label:hover {
    background-color: var(--header-color) !important;
    color: #fff !important;
}

.orange-underline {
    border-bottom: 7px solid rgb(252, 184, 94);

}

.underlined-heading {
    font-weight: 500;
    list-style-type: none;
    display: inline-block;
    margin: 0px 0;
    line-height: 10px;

}